useDynLib('lpBART', .registration=TRUE)
import(RcppEigen)
importFrom(Rcpp, evalCpp)
#exportPattern("^[[:alpha:]]+")
importFrom(BART3, bartModelMatrix)
importFrom(BART3, mc.gbart)
importFrom(parallel, detectCores)
importFrom(tools, psnice)
importFrom(arm, bayesglm)
importFrom(arm, sim)
export(lpbart, mc.lpbart, bmabart)
