useDynLib('REtry', .registration=TRUE)
import(RcppEigen)
importFrom(Rcpp, evalCpp)
#exportPattern("^[[:alpha:]]+")
importFrom(BART3, bartModelMatrix)
importFrom(parallel, detectCores)
importFrom(tools, psnice)
importFrom(stats, glm)
export(plbart, mc.plbart)
